*.iml
.gradle
.idea
.DS_Store
build
captures
.externalNativeBuild
.cxx
local.properties
xcuserdata
/secret.properties
secret.properties
**/gradle.properties
**/gradlew
**/gradlew.bat
**/gradle-wrapper.jar
**/gradle-wrapper.properties